*{
    padding: 0;
    margin: 0;
    /* border: 2px solid green; */
}

.nav-container{
    color: white;
    background-color: #9b9898;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.items{
    list-style: none;
    display: flex;
}
.item{
    font-size: 20px;
    font-weight: bold;
    padding: 5px; 
    margin-right: 20px; 
}
/* banner styles */
span{
    color: red;
}
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(asset/image/background.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
}
.title-banner{
    font-size: 85px;
    font-weight: bold;
}
.discription{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 15px;
}

.btn{
    padding: 15px 30px;
    font-size: 17px;
    border: none;
    margin: 5px;
}
.btn-discover{
    background-color:red; 
    color: white;
}

/* service style  */
.secvice-container{
    width: 100%;
    height: 100vh;
    background-image: url(asset/image/footer-bg.png),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 120px;
}

.service-dtl-container{
    color: gainsboro;
    width: 50%;
}
.service-btn{
    color:gray;
    border-radius: 30px;
}

.service-title{
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
.service-detail{
    font-size: 20px;
    padding: 15px;
    width: 75%;
}
.service-list{
    padding: 25px;
    list-style: decimal;
}
.service-item{
    font-size: 18px;
}
.author-details{
    display: flex;
    align-items: center;
}
.author-detail{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid red;
    padding-right: 40px;
}
.author-detail img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.detail-btn{
    color: red;
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
}

/* service icon section styles  */
.service-icon-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
    /* margin: 40px; */
}
.service-icon-div{
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 4px 5px 8px gray;

}
.service-icon-div img{
    width: 100px;
    padding-bottom: 20px;
}

/* appointment section styles  */
.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: white;
    padding: 35px;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    margin-top: -80px;
}
.appointment-container button{
    color: black;
}
.number{
    display: flex;
    gap: 15px;
    border-right: 2px solid white;
    padding-right: 30px;
    line-height: 30px;
    
}
.number img{
    width: 90px;
}

.appointment-disc{
    width: 350px;
    font-size: 18px;
    /* border-left: 2px solid yellow;
    border-width: 0 23px;
    padding-left: 15px; */
    
}